
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  background-color: #d0d4d5;
}

.main {
  width: 100%;
  background-color: #d0d4d5;
}


.nav {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav img {
  height: 80px;
  width: auto;
  margin-right: 60px;
  cursor: pointer;
}

.nav-part-1 {
  display: flex;
  align-items: center;
}

.nav-part-1 ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-part-1 ul li {
  margin-right: 40px;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-part-2 i {
  margin-right: 30px;
  font-size: 21px;
  cursor: pointer;
}


.content {
  width: 100%;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.content-left {
  text-align: center;
  max-width: 800px;
}

.content-left h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 10px;
}

.content-left h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 25px;
}

.content-left p {
  font-size: 20px;
  color: #000;
  margin-bottom: 25px;
}

.btn {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 12px 40px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  border-top-left-radius: 0;
  cursor: pointer;
}


.content-right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 30px;            
}


.product {
  background-color: #fff;
  border-radius: 15px;
  width: 260px;
  height: 420px;
  box-shadow: 0 5px 10px rgba(17, 0, 17, 0.2);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.category,
.color {
  font-weight: 500;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 5px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: #009688;
}

@media (max-width: 768px) {
  .content-left h1 {
    font-size: 36px;
  }

  .content-right {
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .product {
    width: 100%;
  }
}
